# Python
__pycache__/
*.pyc

# Poetry / virtual environment
.venv/
poetry.lock

# VS Code
.vscode/

#Large Data Files
data/verkeerstypen.json
data/verkeerstypen_fiets.gpkg


# Python packaging
dist/
*.egg-info/
build/
__pycache__/